INSFORGE_API_URL=https://jpivrek9.us-west.insforge.app
INSFORGE_ANON_KEY=
INSFORGE_API_KEY=ik_f11c84aace0e929ed27597bb54d7f3a3
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
CANVA_CLIENT_ID=
CANVA_CLIENT_SECRET=
CANVA_ACCESS_TOKEN=
CANVA_TEMPLATE_ID=
CANVA_HEADSHOTS_FOLDER_ID=
CANVA_LOGO_REGULAR_ASSET_ID=
CANVA_LOGO_LUXURY_ASSET_ID=
LUXURY_PRICE_THRESHOLD=1000000
ANTHROPIC_API_KEY=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
